<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basoa suites</title>
    <meta name="description" content="¿Una suite en lo alto de un árbol? Nosotros ponemos el bosque, la historia la decides tú">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css">
    <link href="/bower_components/pace/themes/black/pace-theme-corner-indicator.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}/css/main.css">
    <script type="text/javascript">
      if(window.innerWidth < 767){
        window.location.href = "http://booking.basoasuites.com";
      }
      if(window.innerHeight > window.innerWidth){
        window.location.href = "http://booking.basoasuites.com";
      }
    </script>
    <script src="/bower_components/page/index.js"></script>

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- Fuentes -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/mrt0ocm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>


<body>
  {{ content }}

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52514798-1', 'auto');
        ga('send', 'pageview');

      </script>

       <!-- build:js scripts/bower/main.js -->
        <script src="/bower_components/jQuery/jquery.js"></script>
        <script src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
        <script src="/bower_components/page/index.js"></script>
        <script src="/bower_components/fullpage.js/jquery.fullPage.js"></script>
        <script src="/bower_components/jquery.transit/jquery.transit.js"></script>
        <script src="/bower_components/matter-js/build/matter.js"></script>
        <script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/scripts/json2.js"></script>
        <script src="/scripts/mandrill.min.js"></script>
        <script src="/scripts/froogaloop.js"></script>
        <script src="/scripts/casa_volante.js"></script>
        <script src="/scripts/main.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/vendor/bootstrap.js -->
        <script src="/bower_components/bootstrap/js/affix.js"></script>
        <script src="/bower_components/bootstrap/js/alert.js"></script>
        <script src="/bower_components/bootstrap/js/dropdown.js"></script>
        <script src="/bower_components/bootstrap/js/tooltip.js"></script>
        <script src="/bower_components/bootstrap/js/modal.js"></script>
        <script src="/bower_components/bootstrap/js/transition.js"></script>
        <script src="/bower_components/bootstrap/js/button.js"></script>
        <script src="/bower_components/bootstrap/js/popover.js"></script>
        <script src="/bower_components/bootstrap/js/carousel.js"></script>
        <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="/bower_components/bootstrap/js/collapse.js"></script>
        <script src="/bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

       <!-- build:js scripts/main.js -->
       <!-- endbuild -->
              <script>
      $(document).ready(function() {

        mandrill_client = new mandrill.Mandrill('jKVpYZGaJISrpyC23Uj4RQ');
        $( "#singlebutton" ).prop( "disabled", true );

        var allVals = [];
        function updateTextArea() {         
            console.log('select');
          $('#selec-suites :checked').each(function(e) {
            allVals.push($(this).val());
            console.log(allVals);
          });
        };  
    
        var tipo_regalo;
        $('#radios-tarjeta').click(function(){
          $('#bloque-direccion').show();
        });

        $('#radios-pdf').click(function(){
          $('#bloque-direccion').hide();
          $('#tarjeta-direccion').val('')
        });

        $('#pdf-email').focus(function(){
          $('#formulario-regalo').validator('validate');
          $( "#singlebutton" ).prop( "disabled", false );
        });


        $('#singlebutton').click(function(){
          var es_html ="<p>Esta es la inforamción del formulario rellenado para regalar una suite</p>";
          es_html += "<p> Estas son las suites selecionadas:  <p>";
          $('#selec-suites :checked').each(function(e) {
            es_html += "<p>"+ $(this).val() + "</p>";
          });
          es_html += "<p>¿Cuantas noches?</p>: " + $('#cuantasnoches').val() +"</p>";
          es_html += "<p>Estos son los extras añadidos: </p>";
          $('#extras :checked').each(function(e) {
            es_html += "<p>"+ $(this).val() + "</p>";
          });

          if($('#checkboxes-extras-4').is(':checked')){
            es_html += "<p>Otros extras: "+ $("#otrosextras").val() + "</p>";
          }

          if($('#radios-pdf').is(':checked')){
            tipo_regalo = '<p> El tipo de regalo es una <strong>tarjeta</strong> </p>'
          }else{
            tipo_regalo = '<p> El tipo de regalo es un <strong>pdf</strong> </p>'
          }
          es_html += tipo_regalo;
          es_html += "<p>Nombre : "+ $('#pdf-nombre').val() +"</p>";
          es_html += "<p>Correo : "+ $('#pdf-email').val() +"</p>";
          es_html += "<p>Dirección : "+ $('#tarjeta-direccion').val() +"</p>";

          console.log(es_html);


          // $("#formulario-regalo").hide();
          // $('#enviar-regalo').hide();
          // $("#alerta-regalo").show();

          var message = {
              "html": es_html,
              "subject": "Petición de regalo de suite",
              "from_email": "info@basoasuites.com",
              "from_name": "basoasuites.com",
              "to": [{
                      "email": $('#pdf-email').val(),
                      "name": "Recipient Name",
                      "type": "to"
                  }],
              "headers": {
                  "Reply-To": "info@basoasuites.com"
              }
          };
          // mandrill_client.messages.send({"message": message}, function(result) {
          //     console.log(result);
          // }, function(e) {
          //     console.log('A mandrill error occurred: ' + e.name + ' - ' + e.message);
          // });

          var message = {
              "html": $('#confirmacion').val(),
              "subject": "Basoasuites.com",
              "from_email": "info@basoasuites.com",
              "from_name": "basoasuites.com",
              "to": [{
                      "email": $('#pdf-email').val(),
                      "name": "Recipient Name",
                      "type": "to"
                  }],
              "headers": {
                  "Reply-To": "info@basoasuites.com"
              }
          };
          // mandrill_client.messages.send({"message": message}, function(result) {
          //     console.log(result);
          // }, function(e) {
          //     console.log('A mandrill error occurred: ' + e.name + ' - ' + e.message);
          // });
        });

      });
      </script>

     
</body>
</html>